@import "colors";

footer {
  background-color: $blue;
  color: $blue;
  padding-top: 100px;
  > div {
    background-color: $green;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    > .div1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: $text1;
      > p {
        margin: 10px;
      }
    }
    .div2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: $text1;
      > div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        > a {
          margin: 10px;
          &:hover {
            color: $white;
          }
        }
      }
    }
  }
}
