@import "colors";

nav {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $blue;
  position: sticky;
  top: 0%;
  z-index: 10;
  font-family: $text1;
  //   border-radius: 0 0 10px 10px;
  > h1 {
    text-transform: uppercase;
    color: $white;
    margin-left: 1rem;
  }
  main {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    > a {
      margin: 1rem;
      color: $white;
      //   font-size: 1.3rem;

      &:hover {
        color: $white;
      }
    }
  }
}
