@import "colors";

.services {
  background-color: $blue;
  display: flex;
  justify-content: center;
  align-items: center;
  > div {
    width: 40%;
    height: 20%;
  }
}
.service-name {
  background-color: $green;
  padding: 5px;
  color: $blue;
  font-family: $text1;
  font-size: 1.3rem;
}
